<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awesome.yunpicturebackend.mapper.PictureMapper">
    
    <select id="listPictureBatch" parameterType="com.awesome.yunpicturebackend.model.dto.picture.PictureLoadMoreRequest" resultMap="PictureMap">
        select * from picture
        where
            1=1
        <if test="searchText != null and searchText != ''">
            and ( name like '%'#{searchText}'%' or introduction like '%'#{searchText}'%' )
        </if>
        order by
            createTime desc
        limit
            #{queryCount} OFFSET #{queryCount} * (#{queryNum} - 1)
    </select>

    <resultMap type="com.awesome.yunpicturebackend.model.entity.Picture" id="PictureMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="compressUrl" column="compressUrl" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="picSize" column="picSize" jdbcType="INTEGER"/>
        <result property="picWidth" column="picWidth" jdbcType="INTEGER"/>
        <result property="picHeight" column="picHeight" jdbcType="INTEGER"/>
        <result property="picScale" column="picScale" jdbcType="NUMERIC"/>
        <result property="picFormat" column="picFormat" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="INTEGER"/>
        <result property="spaceId" column="spaceId" jdbcType="INTEGER"/>
        <result property="uploadSource" column="uploadSource" jdbcType="VARCHAR"/>
        <result property="reviewStatus" column="reviewStatus" jdbcType="INTEGER"/>
        <result property="reviewMessage" column="reviewMessage" jdbcType="VARCHAR"/>
        <result property="reviewerId" column="reviewerId" jdbcType="INTEGER"/>
        <result property="reviewTime" column="reviewTime" jdbcType="TIMESTAMP"/>
        <result property="editTime" column="editTime" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        url,
        compressUrlm,
        name,
        introduction,
        category,
        tags,
        picSize,
        picWidth,
        picHeight,
        picScale,
        picFormat,
        userId,
        spaceId,
        uploadSource,
        reviewStatus,
        reviewMessage,
        reviewerId,
        reviewTime,
        editTime,
        createTime,
        updateTime,
        isDelete,
    </sql>

</mapper>

