<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awesome.yunpicturebackend.mapper.UserSearchLogMapper">

    <resultMap type="com.awesome.yunpicturebackend.model.entity.UserSearchLog" id="UserSearchLogMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="search_word" column="search_word" jdbcType="VARCHAR"/>
        <result property="is_successful" column="is_successful" jdbcType="BOOLEAN"/>
        <result property="err_msg" column="err_msg" jdbcType="VARCHAR"/>
        <result property="ip_address" column="ip_address" jdbcType="VARCHAR"/>
        <result property="device_info" column="device_info" jdbcType="VARCHAR"/>
        <result property="user_id" column="user_id" jdbcType="INTEGER"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        search_word,
        is_successful,
        err_msg,
        ip_address,
        device_info,
        user_id,
        create_time,
    </sql>

</mapper>

